#boton{
  background: red;
  padding: 10px 30px;
  color: white;
}

body{
  text-align: center;
}
h1.mate{
  width: 500px;
  height: 400px;
  margin: 50px auto;
  background: url(../img/mate.jpg);
  background-size: cover;
  color: #fff;
  text-shadow: 0 2px 6px #000;
}
